* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgba(250, 250, 250, 1);
}

.heading {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading h3:nth-child(2) {
  font-weight: 600;
  color: rgb(79 80 95);
}
.heading h3:nth-child(1) {
  font-weight: 200;
}
p {
  color: rgb(79 80 95);
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}
